<h1>Editing credit card</h1>

<%= render "form", credit_card: @credit_card %>

<br>

<div>
  <%= link_to "Show this credit card", @credit_card %> |
  <%= link_to "Back to credit cards", credit_cards_path %>
</div>
